/* Ajoutez ces styles pour déplacer le menu à gauche */
@media (min-width: 992px) {
    .navbar-nav {
        margin-right: auto;
    }
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav-link:hover {
  color: #ff6600; /* Changez la couleur au survol */
}

.img-fluid:hover {
  transform: scale(1.1); /* Agrandissement au survol */
}
.texte {
  margin-bottom: 20px;
  font-size: 18px;
}

h1, h2, h3 {
  color: #333; /* Couleur du texte */
}


/* Ajoutez ces styles pour réduire la taille de l'image */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Set the height of the container to 100% of the viewport height */
  }
  
  .img-logo {
    width: 50%;
    height: 30%;
  }
  
  .img-logoContact {
    margin-top: 25px;
    width: 50%;
    height: 30%;
  }
  /* .headerContact {
    display: flex;
    justify-content: space-between; left: auto;
    align-items: center;
} */

/* .img-logoContact {
    margin-bottom: 20px;
    max-width: 60%;
    width: 50%;
    height: auto;
} */

.text { font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    font-size: larger;
    font-size: 25px;
    text-align: left;
    margin-right: 35px;
    margin-left: 15px;
}
.texte{
  font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-size: larger;

}
footer{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}



body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.row {
  margin-bottom: 20px;
}

.col-md-6 {
  width: 50%;
}

.col-md-12 {
  width: 100%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.call-to-action {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial-content {
  font-size: 16px;
  line-height: 1.5;
}

.testimonial-author {
  font-size: 14px;
}

.testimonial-author-job {
  font-size: 12px;
}